credentials.json
__pycache__/
*.pyc
.ipynb_checkpoints/
logs/*.log
indicadores.ipynb
.vscode/
*.xlsx
*.code-workspace
ingesta/import
ingesta/data_mibgas_excel/
!ingesta/check_tables/indicators.xlsx
!ingesta/check_tables/indicadores.ipynb
!ingesta/check_tables/Listado_tablas_Postgres.xlsx
ingesta/tensors/
ingesta/logs/
.preview_tmp/

ingesta/logs/
.preview_tmp/
